scopeName: 'source.thinp'
name: 'thinp'
fileTypes: [
  'thp'
  'trk'
]
limitLineLength: false

patterns: [
  {
    comment: 'comment line'
    name: 'comment.line'
    match: '^#.*$'
  }
  {
      match: '(U|F|G|H|I|J|L|M|N|O|P|S|T|V|W|D|B|\\:|#)'
      name: 'constant.numeric'
  }
  {
      match: '(,|=|^) *(k|s|c|v|o|t|l|b|p|d|x|a|i|w|f|%){1} *'
      captures:
        0: name: 'keyword'
        1: name: 'storage.type.function'
  }
  {
      match: '([a-zA-Z0-9_]+)\\s*='
      captures:
        1: name: 'variable.other.object.property'
        0: name: 'constant.language'
  }
  {
      match: '(\\.|\\+|-|&|\\|)'
      name: 'string.quoted'
  }
  {
      match: '@[a-zA-Z0-9_]+'
      name: 'support.function'
  }
  {
      match: '\\$[a-zA-Z0-9_]+'
      name: 'constant.language'
  }
  {
      match: '='
      name: 'constant.language'
  }
]
