scopeName: 'source.thinp'
name: 'thinp'
fileTypes: [
  'thp'
  'trk'
]
limitLineLength: false

patterns: [
  {
    comment: 'comment line'
    name: 'comment.line'
    match: '^#.*$'
  }
  {
      match: '(U|F|G|H|I|L|M|N|O|S|T|V|W|D|B|\\:|#)'
      name: 'constant.numeric'
  }
  {
      match: '(,|=|^) *(k|s|c|v|o|t|l|b|e|d|x|a|%){1} *'
      captures:
        0: name: 'keyword'
        1: name: 'storage.type.function'
  }
  {
      match: '(\\.|\\+|-)'
      name: 'string.quoted'
  }
  {
      match: '([a-zA-Z0-9_]+) *='
      captures:
        1: name: 'support.function'
        0: name: 'storage.type.function'
  }
  {
      match: '@[a-zA-Z0-9_]+'
      name: 'support.function'
  }
]
